@model List<ServiceListDto>
@{
    ViewData["Title"] = "Servis Listesi";
    Layout = "_LayoutAdmin";
}

<table class="table table-bordered">
    <h3>SERVİS LİSTESİ</h3>
    <hr>
    <thead>
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Ünvan</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ServiceId</td>
                <td>@item.ServiceTitle</td>
                <td>@item.ServiceIcon</td>
                <td><a class="btn btn-primary" asp-controller="Service" asp-action="ServiceUpdate" asp-route-id="@item.ServiceId">Güncelle</a></td>
                <td><a class="btn btn-danger" asp-controller="Service" asp-action="ServiceDelete" asp-route-id="@item.ServiceId">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-controller="Service" asp-action="ServiceCreate">Yeni Oluştur</a>