@model List<StaffListModel>
@{
    ViewData["Title"] = "Personel Listesi";
    Layout = "_LayoutAdmin";
}

<table class="table table-bordered">
    <h3>PERSONEL LİSTESİ</h3>
    <hr>
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Ünvan</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StaffId</td>
                <td>@item.StaffName</td>
                <td>@item.StaffTitle</td>
                <td><a class="btn btn-primary" asp-controller="Staff" asp-action="StaffUpdate" asp-route-id="@item.StaffId">Güncelle</a></td>
                <td><a class="btn btn-danger" asp-controller="Staff" asp-action="StaffDelete" asp-route-id="@item.StaffId">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-controller="Staff" asp-action="StaffCreate">Yeni Oluştur</a>