@model List<AppUserListWorkDto>
@{
    ViewData["Title"] = "UserList";
    Layout = "_LayoutAdmin";
}

<table class="table table-bordered">
    <h3>KULLANICI VE ÇALIŞMA LİSTESİ</h3>
    <hr>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Departman</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Department</td>
                <td><a class="btn btn-primary" asp-controller="User" asp-action="UserUpdate" asp-route-id="@item.Id">Güncelle</a></td>
                <td><a class="btn btn-danger" asp-controller="User" asp-action="UserDelete" asp-route-id="@item.Id">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
@* <a class="btn btn-success" asp-controller="User" asp-action="UserRegister">Yeni Oluştur</a> *@