@model List<BookingListDto>
@{
    ViewData["Title"] = "Rezervasyon Listesi";
    Layout = "_LayoutAdmin";
}

<table class="table table-bordered">
    <h3>REZERVASYON  LİSTESİ</h3>
    <hr>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad Soyad</th>
            <th>Giriş</th>
            <th>Çıkış</th>
            <th>Durum</th>
            <th>Onayla</th>
            <th>Beklet</th>
            <th>İptal Et</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookingId</td>
                <td>@item.BookingName</td>
                <td>@item.BookingCheckin</td>
                <td>@item.BookingCheckout</td>

                @if (item.BookingStatus == "Onaylandı")
                {
                    <td><span class="badge badge-pill badge-success">@item.BookingStatus</span></td>
                } else
                {
                    @if (item.BookingStatus == "İptal Edildi")
                    {
                        <td><span class="badge badge-pill badge-danger">@item.BookingStatus</span></td>
                    } else
                    {
                        <td><span class="badge badge-pill badge-primary">@item.BookingStatus</span></td>
                    }
                }
                
                @if (item.BookingStatus == "Onaylandı")
                {
                    <td><a class="btn btn-outline-light" style="cursor: no-drop;" disabled>@item.BookingStatus</a></td>
                } else
                {
                    <td><a class="btn btn-warning" asp-controller="Booking" asp-action="BookingApproved" asp-route-id="@item.BookingId">Onayla</a></td>
                }

                @if (item.BookingStatus == "Beklemede")
                {
                    <td><a class="btn btn-outline-light" style="cursor: no-drop;" disabled>@item.BookingStatus</a></td>
                } else
                {
                    <td><a class="btn btn-info" asp-controller="Booking" asp-action="BookingWait" asp-route-id="@item.BookingId">Beklet</a></td>
                }

                @if (item.BookingStatus == "İptal Edildi")
                {
                    <td><a class="btn btn-outline-light" style="cursor: no-drop;" disabled>@item.BookingStatus</a></td>
                } else
                {
                    <td><a class="btn btn-danger" asp-controller="Booking" asp-action="BookingCancel" asp-route-id="@item.BookingId">İptal Et</a></td>
                }

                <td><a class="btn btn-primary" asp-controller="Booking" asp-action="BookingUpdate" asp-route-id="@item.BookingId">Güncelle</a></td>
                <td><a class="btn btn-danger" asp-controller="Booking" asp-action="BookingDelete" asp-route-id="@item.BookingId">Sil</a></td>
            </tr>
        }
    </tbody>
</table>